.separador {
	width: 100%;
	height: 20px;
	background-color: var(--verde);
}

.separador-ch {
	width: 100%;
	height: 20px;
	background-color: var(--verde);

}

@media (max-width: 1023px) {
	.separador-ch {
		background-color: var(--verdeManzana);
	}	
}
