.bottom {
	height: 420px;
	background-color: #000000;
}

.bottom-container {

	width: 90%;
	margin: 0 auto;
}

.bottom-top {
	display: grid;
	grid-template-columns: 1fr 1fr;	

}

.bottom-bot {
	display: grid;
	grid-template-columns: 1fr 1fr;	

}
